:root {
	font-size: 62.5%; /* 10px, sets the rem */
	--relative-font-size: 1.5em; /* applied to drop-down-container */
	--drop-down-height: calc(1.1 * var(--relative-font-size));
	--drop-down-width: 200px;

	--unselected-color: rgb(128, 194, 191);
	--selected-color: rgb(36, 164, 158);
}

body {
	padding: 60px;
}

p,
img {
	line-height: var(
		--relative-font-size
	); /* important to control overall height of text*/
	margin: 0;
	padding: 0;
}

.drop-down-container {
	position: relative; /* all absolute positions will be relative to this item */
	/* This font-size drives all font sizes and dimensions */
	font-size: 20px;
	cursor: default;
}

.drop-down-list-no-display {
	visibility: hidden;
}

.drop-down-list-display {
	visibility: visible;
}

.selector-bar {
	background-color: lightgray;
	width: var(--drop-down-width);
	height: var(--drop-down-height);
	display: grid;
	grid-template-columns: 1fr auto;
	align-content: center;
}

#selector-text {
	grid-column: 1;
	justify-items: left;
	display: grid;
	align-items: center;
}

#selector-caret {
	grid-column: 2;
	width: var(--drop-down-height);
	display: grid;
	align-items: center;
}

.selector-drop-down-item {
	background-color: var(--unselected-color);
	color: white;
	position: absolute;
	width: var(--drop-down-width);
	height: var(--drop-down-height);
	top: calc(var(--drop-down-height));
	display: grid;
	align-items: center;
}

.selector-drop-down-item:hover {
	background-color: var(--selected-color);
}
